<p *ngIf="!nodes?.length">
  Appears that you have no nodes. You can <a (click)="openModal(nodeCreationModal)" href="javascript:void(0);">create</a> or
   <a (click)="openModal(nodeAdditionModal)" href="javascript:void(0);">add</a> some.
</p>
<div *ngIf="nodes?.length">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-4">
      <button class="btn btn-primary pull-left float-left" (click)="openModal(nodeAdditionModal)">Add existing node</button>
    </div>
    <div class="col-4" style="text-align: center">
      <button class="btn btn-default" (click)="getNodes()">Refresh</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info pull-right float-right" (click)="openModal(nodeCreationModal)">Create node</button>
    </div>
  </div>
  <accordion>
    <accordion-group *ngFor="let node of nodes; index as $i" (isOpenChange)="openNode($i, $event)">
      <div accordion-heading class="clearfix">
        {{node.title}}
        <span class="badge node-badge badge-secondary float-right pull-right">{{node.jstpLogin}}</span>
        <span class="badge node-badge badge-danger float-right pull-right" *ngIf="!node.isConnected">Offline</span>
        <span class="badge node-badge badge-success float-right pull-right" *ngIf="node.isConnected">Online</span>
      </div>
      <div class="row">
        <div class="col-12" *ngFor="let deploy of node.deploys; index as $ind" style="margin-bottom: 10px">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                {{deploy.title}}
                <button class="btn btn-danger float-right pull-right" (click)="openModalSelectDeploy(deployDeleteModal, $i, $ind)">Delete deploy</button>
              </div>
              <div class="card-subtitle">
                <span class="badge node-badge badge-danger"
                  *ngIf="deploy.status ? !deploy.status[0]?.running : false">
                  Not running
                </span>
                <span
                  class="badge node-badge badge-success"
                  *ngIf="deploy.status ? deploy.status[0]?.running : false"
                  style="margin-bottom: 10px;">
                  Running
                </span>
                {{deploy.status ? deploy.status[0].lastState : ''}}
              </div>
              <p class="card-text">
                  Branch: <b>{{deploy.branch}}</b> at {{deploy.repo}}
              </p>
              <div class="card-text">
                <pre><samp>{{deploy.status ? deploy.status[0]?.lastDeployLog : undefined}}</samp></pre>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="btn-group">
                  <button
                    class="btn btn-danger"
                    [disabled]="deploy.status ? !deploy.status[0]?.running : true"
                    (click)="stopDeploy(node, deploy)">
                    Stop
                  </button>
                  <button
                    class="btn btn-primary"
                    [disabled]="deploy.status ? !deploy.status[0]?.running : true"
                    (click)="fetchDeploy(node, deploy)">
                    Fetch
                  </button>
                  <button
                    class="btn btn-success"
                    [disabled]="deploy.status ? deploy.status[0]?.running : true"
                    (click)="startDeploy(node, deploy)">
                    Start
                  </button>
                </div>
                <button class="btn btn-default float-right pull-right" (click)="updateDeployState(node, deploy)">Refresh</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-success pull-left float-left" (click)="openModalSelectNode(deployCreationModal, $i)">Create a deploy</button>
          <button class="btn btn-danger pull-right float-right" (click)="openModalSelectNode(nodeDeleteModal, $i)">Delete node</button>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
<ng-template #nodeDeleteModal>
  <div class="modal-header">
    <h5 class="modal-title">Delete node</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-danger" (click)="deleteChosenNode()">Yes, delete this node</button>
  </div>
</ng-template>
<ng-template #deployDeleteModal>
  <div class="modal-header">
    <h5 class="modal-title">Delete deploy</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-danger" (click)="deleteChosenDeploy()">Yes, delete this deploy</button>
  </div>
</ng-template>
<ng-template #nodeAdditionModal>
  <form #nodeCreationForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">Add existing node</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="loginAdditionInput">Node login</label>
        <input
          type="text"
          class="form-control"
          id="loginAdditionInput"
          name="loginAdditionInput"
          required
          placeholder="Title"
          [(ngModel)]="newNode.jstpLogin"
          #loginAdditionInput="ngModel"
          [class]="'form-control ' + 
          (loginAdditionInput.invalid && (loginAdditionInput.dirty || loginAdditionInput.touched) ? 'is-invalid ' : '') + 
          (loginAdditionInput.valid && (loginAdditionInput.dirty || loginAdditionInput.touched) ? 'is-valid' : '')">
          <label for="titleInput">Node password</label>
          <input
            type="password"
            class="form-control"
            id="passwordAdditionInput"
            name="passwordAdditionInput"
            required
            placeholder="Title"
            [(ngModel)]="newNode.jstpPassword"
            #passwordAdditionInput="ngModel"
            [class]="'form-control ' + 
            (passwordAdditionInput.invalid && (passwordAdditionInput.dirty || passwordAdditionInput.touched) ? 'is-invalid ' : '') + 
            (passwordAdditionInput.valid && (passwordAdditionInput.dirty || passwordAdditionInput.touched) ? 'is-valid' : '')">
      </div>
      <div class="alert alert-danger" *ngIf="error">
        {{error}}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNode()"
        [disabled]="nodeCreationForm.invalid"
        *ngIf="!creationDone">
        Create
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </form>
</ng-template>
<ng-template #nodeCreationModal>
  <form #nodeCreationForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">Create node</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group" *ngIf="!creationDone">
        <label for="titleCreationInput">New node title</label>
        <input
          type="text"
          class="form-control"
          id="titleCreationInput"
          name="titleCreationInput"
          required
          placeholder="Title"
          [(ngModel)]="newNode.title"
          #titleCreationInput="ngModel"
          [class]="'form-control ' + 
          (titleCreationInput.invalid && (titleCreationInput.dirty || titleCreationInput.touched) ? 'is-invalid ' : '') + 
          (titleCreationInput.valid && (titleCreationInput.dirty || titleCreationInput.touched) ? 'is-valid' : '')">
      </div>
      <div class="row" *ngIf="creationDone">
        <div class="col-12">
          New node title: {{newNode.title}}
        </div>
        <div class="col-12">
          New node login: <code>{{newNode.jstpLogin}}</code>
        </div>
        <div class="col-12">
          New node password: <code>{{newNode.jstpPassword}}</code>
        </div>
        <div class="col-12">
          New node connection link: <code>{{newNode.link}}</code>
        </div>
        <div class="col-12">
          <div class="alert alert-warning">
              Make sure to write password and connection link somewhere in the safe place,
              because password is stored in encrypted way, and you will not be able to retreive or change it later.
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        {{error}}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="createNode()"
        [disabled]="nodeCreationForm.invalid"
        *ngIf="!creationDone">
        Create
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </form>
</ng-template>
<ng-template #deployCreationModal>
    <form #deployCreationForm="ngForm">
      <div class="modal-header">
        <h5 class="modal-title">Create a deploy on {{nodes[chosenNodeIndex].title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titleCreationInput">Title</label>
          <input
            type="text"
            class="form-control"
            id="DeployTitleCreationInput"
            name="DeployTitleCreationInput"
            required
            placeholder="Title"
            [(ngModel)]="newDeploy.title"
            #DeployTitleCreationInput="ngModel"
            [class]="'form-control ' + 
            (DeployTitleCreationInput.invalid && (DeployTitleCreationInput.dirty || DeployTitleCreationInput.touched) ? 'is-invalid ' : '') + 
            (DeployTitleCreationInput.valid && (DeployTitleCreationInput.dirty || DeployTitleCreationInput.touched) ? 'is-valid' : '')">
        </div>
        <div class="form-group">
          <label for="titleCreationInput">Repository link</label>
          <input
            type="text"
            class="form-control"
            id="DeployRepoCreationInput"
            name="DeployRepoCreationInput"
            required
            placeholder="Link"
            [(ngModel)]="newDeploy.repo"
            #DeployRepoCreationInput="ngModel"
            [class]="'form-control ' + 
            (DeployRepoCreationInput.invalid && (DeployRepoCreationInput.dirty || DeployRepoCreationInput.touched) ? 'is-invalid ' : '') + 
            (DeployRepoCreationInput.valid && (DeployRepoCreationInput.dirty || DeployRepoCreationInput.touched) ? 'is-valid' : '')">
            <small>If your repo is private be sure to include an oauth token or login/password in the link. The way you do it depends on your git provider</small>
        </div>
        <div class="form-group">
          <label for="titleCreationInput">Branch (defaults to master)</label>
          <input
            type="text"
            class="form-control"
            id="DeployBranchCreationInput"
            name="DeployBranchCreationInput"
            placeholder="Branch"
            [(ngModel)]="newDeploy.branch"
            #DeployBranchCreationInput="ngModel"
            [class]="'form-control ' + 
            (DeployBranchCreationInput.invalid && (DeployBranchCreationInput.dirty || DeployBranchCreationInput.touched) ? 'is-invalid ' : '') + 
            (DeployBranchCreationInput.valid && (DeployBranchCreationInput.dirty || DeployBranchCreationInput.touched) ? 'is-valid' : '')">
        </div>
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <progressbar *ngIf="cretionInProgress" max="100" [value]="100" type="success" [striped]="true" [animate]="true"><i>Creation in progress</i></progressbar>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="createDeploy()"
          [disabled]="deployCreationForm.invalid || cretionInProgress">
          Create
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </ng-template>